/*
p {
    background-color: blueviolet;
}

#main_header {
    background-color: yellow;
}

.post-meta {
    background-color: tomato;
}

em , h1 {
    background-color: chartreuse;
}
*/
/*
section +  h1 {
    background-color: violet;
}
*/